doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Natout
        link(rel="stylesheet", href="css/style.css", attr)
        
    body
        h1 The
        p hello
        | fdf
